parameters:
    ignoreErrors:
        - message: '#Parameter \#1 \$view of function view expects view-string\|null, string given\.#'
          paths:
              - src/Services/GithubService.php
              - src/Jobs/ProcessWebhookEvent.php
              - src/Jobs/ProcessAggregatedEvents.php
